.btn {
    background: var(--brand-color);
    color: var(--brand-color-inverse);
    display: inline-flex;
    align-items: center;
    gap: .625rem;
    justify-content: center;
    padding: 0 1.875rem;
    position: relative;
    cursor: pointer;
    border: none;
    height: 3.125rem;
    line-height: 3.125rem;
    font-weight: 500;
    transition: .3s all ease-in-out;
    white-space: nowrap;
    border: none;
    border-radius: 3rem;
    font-size: calc(clamp(0.875rem, 0.191vw + 0.833rem, 1.063rem));

    &.btn--transparent {
        background-color: transparent;
        color: #445664;
        font-size: calc(clamp(0.875rem, 0.064vw + 0.861rem, 0.938rem));

        &:hover {
            color: var(--brand-color);
        }
    }
}

.btn--equal {
    --size: 2.825rem;
    padding: 0 !important;
    width: var(--size);
    height: var(--size);
    line-height: 100%;
    min-width: var(--size);
    min-height: 1px;

    @media (max-width:1280px) {
        --size: 2.5rem;
    }

    svg {
        vertical-align: text-top;
        margin: 0 !important;
    }
}

.btn--transparent {
    background-color: transparent;
}