.form-control {
    height: 50px;
    border: 1px solid #C0C9CE;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    line-height: 100%;
    width: 100%;
    border-radius: 5px;
}

textarea.form-control {
    height: 100px;
}