.svg-icon {
    --size: 24px;
    height: var(--size);
    width: var(--size);
    flex: 0 0 var(--size);
    max-width: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        display: block;
        fill: currentColor;
        width: 100%;
        height: 100%;
    }

    &--20 {
        --size: 20px;
    }

    &--30 {
        --size: 30px;
    }

    &--40 {
        --size: 40px;
    }

    &--xs {
        --size: 14px;
    }

    &--xl {
        --size: 50px;
    }

    &--large {
        --size: 60px;
    }
}