.section-title {
    font-size: calc(clamp(1.25rem, 0.127vw + 1.222rem, 1.375rem));
    font-weight: 600;
    color: #212529;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 12px center;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iY3VycmVudENvbG9yIj48cGF0aCBkPSJNMTEuOTk5OSAxMy4xNzE0TDE2Ljk0OTcgOC4yMjE2OEwxOC4zNjM5IDkuNjM1ODlMMTEuOTk5OSAxNS45OTk5TDUuNjM1OTkgOS42MzU4OUw3LjA1MDIgOC4yMjE2OEwxMS45OTk5IDEzLjE3MTRaIj48L3BhdGg+PC9zdmc+);
    background-repeat: no-repeat;
    background-size: 20px;
    padding-inline-end: 2.25rem !important;
}

.form-check-input {
    width: 20px;
    height: 20px;
    margin: 0;
    vertical-align: middle;
    appearance: none;
    border: 1px solid #ced4da;
    border-radius: 0.25em;
    background-color: #fff;
    cursor: pointer;
    position: relative;
}

.form-check-input:checked {
    background-color: #0d6efd;
    /* bootstrap primary */
    border-color: #0d6efd;
}

.form-check-input:checked::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.form-check-input:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-check-label {
    font-size: 0.875rem;
    color: #212529;
    cursor: pointer;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-amazon-link:hover {
    color: #C7511F;
    text-decoration: underline;
}

.custom-checkbox:checked {
    background-color: #007185;
    border-color: #007185;
}

/* Custom scrollbar for filters if needed */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

/* scrollbar.css */
.scrollbar-thin {
    scrollbar-width: thin;
    /* Firefox */
}

.scrollbar-thin::-webkit-scrollbar {
    height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
    border-radius: 9999px;
}