$info-meta:'.info-meta';

#{$info-meta} {
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    &-value {
        @media (min-width:1280px) {
            font-size: 1.125rem;
        }
    }
}

.page-title {
    font-size: calc(clamp(1.5rem, 0.51vw + 1.389rem, 2rem));
    font-weight: 600;

    @media (max-width:1280px) {
        font-size: 1.25rem;
    }
}

.block-title {
    font-weight: 600;
    font-size: calc(clamp(1.25rem, 0.127vw + 1.222rem, 1.375rem));

    @media (max-width:1280px) {
        font-size: 1.125rem;
    }
}

.contact-map {
    height: 100%;
    min-height: 300px;
}

.form-group {
    .form-check {
        font-weight: 600;
    }
}