$main:'.main';

#{$main} {
    &-inner {
        max-width: 1500px;
        margin: 0 auto;
    }
}

$hero-slider:'.hero-slider';

#{$hero-slider} {
    position: relative;

    &-content {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        z-index: 1;

        .content {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.625rem;

            @media (min-width:1280px) {
                margin-inline-start: 40px;
            }

            @media (max-width:1280px) {
                gap: .5rem;

                .btn {
                    padding: 0 1.25rem;
                    height: 2.5rem;
                    line-height: 2.5rem;
                }
            }
        }
    }

    &-img {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: linear-gradient(to right,
                    #f0f1f1 0%,
                    rgba(240, 241, 241, 0.85) 35%,
                    rgba(240, 241, 241, 0.4) 55%,
                    rgba(240, 241, 241, 0) 75%);
            z-index: 0;
        }

        img {
            width: 100%;
        }
    }

    &-arrow {
        --size: 40px;
        width: var(--size);
        height: var(--size);
        border-radius: .625rem;
        background-color: #fff;
        color: #445664;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        &:hover {
            background-color: var(--brand-color);
            color: #fff;
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        gap: .5rem;
        margin-top: 1rem;

        li {
            button {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                border: 2px solid var(--brand-color);
                background-color: transparent;
                font-size: 0;
                text-indent: -9999px;
                display: block;
            }

            &.slick-active {
                button {
                    background-color: var(--brand-color);
                }
            }
        }
    }
}

$testimonial-card:'.testimonial-card';

#{$testimonial-card} {
    background-color: #F7F9F9;
    padding: calc(clamp(1.25rem, 0.637vw + 1.111rem, 1.875rem));
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    &-foot {
        margin-top: auto;
    }

    .testimonial-quote {
        font-size: calc(clamp(0.875rem, 0.064vw + 0.861rem, 0.938rem));
    }

    .posted-by {
        font-weight: 600;
        font-size: calc(clamp(0.875rem, 0.064vw + 0.861rem, 0.938rem));
    }

    .posted-date {
        font-size: calc(clamp(0.875rem, 0vw + 0.875rem, 0.875rem));
    }
}

$aside-card:'.aside-card';

#{$aside-card} {
    &-head {
        .title {
            font-size: calc(clamp(1rem, 0.127vw + 1.222rem, 1.375rem));
            font-weight: 600;

            @media (max-width:767px) {
                font-size: 1rem;
            }
        }
    }
}

$blog-card:'.blog-card';

#{$blog-card} {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    height: 100%;

    &-date {
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 1rem;

        &::after {
            content: "";
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #445664;
            display: block;
        }
    }

    &-date,
    &-category {
        font-size: calc(clamp(0.75rem, 0vw + 0.75rem, 0.75rem));
        font-weight: 600;
    }

    &-foot {
        margin-top: auto;
    }

    &-media {
        aspect-ratio: 427/250;
        border-radius: .5rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;
    }

    .blog-title {
        font-size: calc(clamp(1rem, 0.127vw + 0.972rem, 1.125rem));
        font-weight: 600;
    }

    .blog-description {
        font-size: calc(clamp(0.875rem, 0.064vw + 0.861rem, 0.938rem));
    }

    .posted-date {
        font-size: calc(clamp(0.875rem, 0vw + 0.875rem, 0.875rem));
    }
}

.vertical-links {
    li {
        a {
            font-size: calc(clamp(0.875rem, 0.064vw + 0.861rem, 0.938rem));
            font-weight: 500;

            .svg-icon {
                margin-top: 3px;
            }
        }
    }
}

$product-card:'.product-card';

#{$product-card} {
    display: flex;
    flex-direction: column;
    position: relative;

    &-head {
        padding: calc(clamp(0.875rem, 0.064vw + 0.861rem, 0.938rem));

        @media (max-width:1280px) {
            padding: 0;
            padding-bottom: calc(clamp(0.875rem, 0.064vw + 0.861rem, 0.938rem));
        }
    }

    &-foot {
        padding-top: calc(clamp(0.875rem, 0.064vw + 0.861rem, 0.938rem));
    }

    &-media {
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: #f0f0f0;
    }

    &-features {
        display: flex;
        flex-direction: column;
        gap: .375rem;

        li {
            font-size: 0.875rem;

            strong {
                font-weight: 500;
            }
        }
    }

    &-title {
        font-size: calc(clamp(0.875rem, 0.064vw + 0.861rem, 0.938rem));
        font-weight: 600;
        margin-bottom: calc(clamp(0.875rem, 0.064vw + 0.861rem, 0.938rem));

        a {
            &:hover {
                color: var(--brand-color);
            }
        }
    }

    &-tag {
        background-color: var(--brand-color);
        color: var(--brand-color-inverse);
        font-size: calc(clamp(0.875rem, 0.064vw + 0.861rem, 0.938rem));
        font-weight: 600;
        border-radius: .5rem;
        padding: .25rem .5rem;
        position: absolute;
        left: calc(clamp(0.875rem, 0.064vw + 0.861rem, 0.938rem));
        top: calc(clamp(0.875rem, 0.064vw + 0.861rem, 0.938rem));
        z-index: 1;
    }

    .btn--addtocart {
        background-color: #E9F6DE;
        color: var(--brand-color);

        &:hover {
            background-color: var(--brand-color);
            color: var(--brand-color-inverse);
        }
    }

    &-price {
        .new {
            font-size: calc(clamp(.875rem, 0.127vw + 0.972rem, 1.125rem));
            font-weight: 600;
        }

        .old {
            font-size: 0.875rem;
            font-weight: 500;
            text-decoration: line-through;
            color: #92A0AB;
        }
    }
}