@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    border-color: #DADEE0;
}

.bg-brand-gray {
    background-color: #f5f5f5;
}

.bg-brand-dark {
    background-color: #1a1a1a;
}

.font-display,
body,
.font-sans {
    font-family: "Montserrat", sans-serif;
}

.listing {
    margin: 0;
}

.listing li {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkFDMjhDNkI1NjhEODExRTU4N0U3OEVBQ0Q4NUEwNDEwIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkFDMjhDNkI2NjhEODExRTU4N0U3OEVBQ0Q4NUEwNDEwIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6QUMyOEM2QjM2OEQ4MTFFNTg3RTc4RUFDRDg1QTA0MTAiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6QUMyOEM2QjQ2OEQ4MTFFNTg3RTc4RUFDRDg1QTA0MTAiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7XsXyLAAABKElEQVR42mzSwStEURTHce+ZbJjUZDWs3n8wU7Nj9yJT/gBJFmLS/AGanbBQ0iwGJYlkNhT7qZEVYm+pLMyCSMpC4fme+t16bl59evfed+695553gziOu7xnAFVM4hibeEoHhKn2IFbQRgHrKKKFZQy5wAzymMIs7jCHG33fQwmLWmwfze4ois5oVLCLeTx66XaUZg6riCy9fpxgAucY9yaNKUXL5ghJqHPVMYIL7OAKM7hUBvYe1k6hK0QWbzqwFeEWB7hWfwnP6ENgkwLbMpXOi4IeUFP/T7XdTj/eOXq1WNYb/3Zn6vlnknsSr/9l8TbpHmsoe8GJt9gotvEa6rocYkM/tZzaIaNgq14Dp1iwwQ9sqVrTukr2Qz91A/IqexPvttKvAAMAUNhDmcZSJccAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: 0 4px;
    padding: 0 0 0 22px;
}

.target\:flex:target {
    display: flex;
}



.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iY3VycmVudENvbG9yIj48cGF0aCBkPSJNMTEuOTk5OSAxMy4xNzE0TDE2Ljk0OTcgOC4yMjE2OEwxOC4zNjM5IDkuNjM1ODlMMTEuOTk5OSAxNS45OTk5TDUuNjM1OTkgOS42MzU4OUw3LjA1MDIgOC4yMjE2OEwxMS45OTk5IDEzLjE3MTRaIj48L3BhdGg+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 22px;
    padding-right: 44px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
    /* header height ke approx */
}